JWT_ACCESS_TOKEN_PRIVATE_KEY=6fdb5346be62e8cc34e91012e1ff8ce0107c4e73c5f553ed0fc26722b9ad696833e681e4822b3afb1d41a916182f54d079cfbeda1ea16bd08a72ace60e2f
JWT_REFRESH_TOKEN_PRIVATE_KEY=a1cae6421066731100fed67170fe7704f97fa363290f32f1bead2aa019780609312c101997acedad657f38facf95ccf11f6525246cb6960fd54451b7ac38

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema11

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
ACCESS_TOKEN_EXPIRES_IN=900
REFRESH_TOKEN_EXPIRES_IN=604800

IMAGEKIT_PUBLIC_KEY=public_OWnOwaC5iKkGinOBXbMtTTFRq8k=
IMAGEKIT_PRIVATE_KEY=private_iBw7W/qG0GQxLjkGwIR4jBAgjE8=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/tienhoang0105/chat_app
